:root {
	--content_color: #212121;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', Google Sans, Helvetica, Arial, sans-serif;
	font-size: 100%;
}

h1 {
	color: var(--content_color);
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	color: var(--content_color);
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
}

a {
	text-decoration: none;
}

p:not([class="main_help"]){
	padding: 100px;
}

.padding_site {
	padding-left: 98px;
	padding-right: 98px;
}

.container {
	max-width: 1366px;	
	margin: 0 auto;
}

.header {
	height: 80px;
	font-size: 1.25em;	
	background-color: #a0d9ff;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	box-shadow: 0 4px 5px 1px rgba(33, 33, 33, 0.35);
}

.slider {
	height: 800px;
	background-color: #FFFFFF;
}
.test{
	margin: 1rem 1em; 
}

.slider_logotype {
	background-image: url("logo.gif");
	background-size: 80px;
	background-color: #ffffff;
	outline: 1px solid #ffffff;
	padding: 20px;
}

.logo_img {
	height: 2em;
}

.menu {
	display: flex;
	justify-content: space-around;
	padding-bottom: 1.3125rem;	
}

.menu_list {
	list-style-type: none;
}

.menu_link {
	color: var(--content_color);
	padding: 1.125rem 2rem;	
	opacity: 0.7;
}	

.menu_link:hover {
	opacity: 1;
	border-bottom: 3px solid var(--content_color);
}

.menu_link:active {
	opacity: 0.5;
	border-bottom: 3px solid var(--content_color);
}

.registration_link {
	color: var(--content_color);
	padding: 1.125rem 2rem;	
	opacity: 0.7;
	border-bottom: 3px solid transparent;
}

.registration_link:hover {
	opacity: 1;
	border-bottom: 3px solid var(--content_color);
}

.registration_link:active {
	opacity: 0.5;
	border-bottom: 3px solid var(--content_color);
}

.slider_text {
	margin-top: 50px;
	height: 600px;
	max-width: 100%;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.slider_content {
	text-align: center;
	font-size: 1.125em;
	line-height: 32px;
}

.download_button {
	padding: 1rem 1em;
	font-size: 2em;
	background-color: #a0d9ff;
	margin-top: 2rem;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	border-radius: 3px;
	border: 3px solid rgba(208, 223, 226, 0.4);
}

.download_button:hover {
	box-shadow: none;
	border: 3px solid rgba(208, 223, 226, 1);
}

.download_button:active {
	opacity: 0.5;
}

.review {
	margin-top: 120px;	
}

.review_header {
	font-size: 1.5em;
	line-height: 32px;
}

.review_firstword {
	color: #168DDD;
	font-weight: 700;
}

.power {
	margin-top: 120px; 
}

.power h2:after, .download h2:after {
	content:' ';
    display:block;
    width:100%;
    height:2px;
    margin-top:1rem;
    background:
        -webkit-linear-gradient(to left,
            rgba(22,141,221,0) 17%,
            rgba(22,141,221,0.8) 35%,
            rgba(22,141,221,1) 50%,
            rgba(22,141,221,0.8) 70%,
            rgba(22,141,221,0) 80%);

    background:
        -moz-linear-gradient(to left,
            rgba(22,141,221,0) 17%,
            rgba(22,141,221,0.8) 35%,
            rgba(22,141,221,1) 50%,
            rgba(22,141,221,0.8) 70%,
            rgba(22,141,221,0) 80%);
    background:
        -o-linear-gradient(to left,
            rgba(22,141,221,0) 17%,
            rgba(22,141,221,0.8) 35%,
            rgba(22,141,221,1) 50%,
            rgba(22,141,221,0.8) 70%,
            rgba(22,141,221,0) 80%);
    background:
         linear-gradient(to left,
            rgba(22,141,221,0) 17%,
            rgba(22,141,221,0.8) 35%,
            rgba(22,141,221,1) 50%,
            rgba(22,141,221,0.8) 70%,
            rgba(22,141,221,0) 80%);
}

.power_items {
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

}

.power_item {
	width: 270px;
	height: 300px;
	font-size: 1.5em;
	font-weight: 400;
	color:  #168DDD;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em;
	padding: 1em;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35),
 				0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	border-radius: 5px;
}

.power_item_content {
	text-align: center;
}

.information {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
	font-size: 1.5em;
}

.registration {
	width: 100%;
	margin-bottom: 2em;
	margin-top: 2em;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input:not([type="submit"], [name="descriptionInput"], [name="amountInput"]){
	width: 30%;
	height: 2em;
	font-style: italic;
	font-size: 0.75em;
	padding: 5px 15px;
	box-sizing: content-box;
	border: 1px solid rgb(178, 178, 178);
    border-radius: 3px;
    box-shadow:  0 2px 5px 1px rgba(33, 33, 33, 0.35),
 				0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
}

input:not([type="submit"], [name="descriptionInput"], [name="amountInput"]):active,
input:not([type="submit"], [name="descriptionInput"], [name="amountInput"]):focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.4);
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

input[type="submit"] {
	width: 32.2%;
	height: 3em;
	font-size: 1em;
	border-radius: 3px;
	background-color: #a0d9ff;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	border: 3px solid rgba(208, 223, 226, 0.4);
	margin-top: 5px;
}

input[type="submit"]:hover {
	box-shadow: none;
	border: 3px solid rgba(208, 223, 226, 1);
}

input[type="submit"]:active {
	opacity: 0.5;
}

.download_box {
	margin-top: 60px;
}

.footer {
	height: 320px;
	font-size: 1.25em;
	background-color: #a0d9ff; 
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social {
	margin-top: 1em;
}

.social_link {
	opacity: 0.6;	
	width: 40px;
	height: 40px;
	border-radius: 3px;
	display: inline-block;
	transition: background 0.5s ease;
	outline: 1px solid transparent;
	margin: 0 5px;
}
.social_link_img_1 {
	background: url("google-plus_1.svg") center / cover;		
}

.social_link_img_2 {
	background: url("viber_1.svg") center / cover;
}

.social_link_img_3 {
	background: url("discord_1.svg") center / cover;	
}

.social_link:active {
	opacity: 0.5;
}

.social_link_img_1:hover {
	background-image: url("google-plus_2.svg");
	background-color: #ffffff;
	outline: 1px solid #ffffff;
}

.social_link_img_2:hover {
	background-image: url("viber_2.svg"); 
	background-color: #ffffff;
	outline: 1px solid #ffffff;
}

.social_link_img_3:hover {
	background-image: url("discord_2.svg");
	background-color: #ffffff;
	outline: 1px solid #ffffff;
}
.footer_text {
	font-size: 1em;
	margin-top:1em;
	margin-bottom: 1em;
}
.page_not_found{
	padding-left: 98px;
	padding-right: 98px;
}
.download_box2{
	padding-left: 516px;
	padding-right: 484px;
}
.download_box3{
	padding: 30px;
	padding-left: 630px;
	padding-right: 484px;
	background-size: 300px;
}
.main_help{
	padding: 30px;
}