{% extends 'base.html' %}

{% block title %}
Про Tuicape
{% endblock %}

{% block body %}
<section class="review padding_site" id="areview">
    <p class="review_header">
        <span class="review_firstword">Tuicape assistant</span>&nbsp;&mdash; ассистент с&nbsp;
        огромными возможностями, которые включают в&nbsp;себя как базовые функции
        (камера, галерея, диктофон, плеер и&nbsp;т.д.), так и&nbsp;кое что новое, наример, чат.
        Все это пригодится в&nbsp;повседневной жизни.
    </p>
    <p class="review_header">
        Удобный и&nbsp;простой интерфейс даёт возможность легко и&nbsp;быстро его использовать.
        А&nbsp;встроенный чат с&nbsp;ассистентом не&nbsp;даст заскучать на&nbsp;собеседовании или на перемене в&nbsp;школе.
        Но,&nbsp;если вам надоел однообразный функционал, то&nbsp;можно побеседовать с&nbsp;друзьями в&nbsp;реальном времени
        благодаря удобному чату.
    </p>
</section>
<section class="power padding_site">
    <h2 id="apower">Откройте возможности Tuicape</h2>
    <div class="power_items">
        <div class="power_item">
            <p class="power_item_content">Чаты с&nbsp;друзьями и&nbsp;ассистентом</p>
        </div>
         <div class="power_item">
            <p class="power_item_content">Встроенные приложения</p>
        </div>
         <div class="power_item">
            <p class="power_item_content">Возможность дополнить функционал новыми модулями</p>
        </div>
         <div class="power_item">
            <p class="power_item_content">Встроенный редактор кода</p>
        </div>
        <div class="power_item">
            <p class="power_item_content">Окно уведомлений, чтоб не&nbsp;пропустить новости из&nbsp;жизни Тьюи</p>
        </div>
        <div class="power_item">
            <p class="power_item_content">Удобное минималистичное меню</p>
        </div>
    </div>
</section>
{% endblock %}