{% extends 'base.html' %}

{% block title %}
Скачать Tuicape assistant
{% endblock %}

{% block body %}
<br>
<section class="download padding site">
    <h2 id="adownload" >Как установить ассистента?</h2>
    <br>
    <p class="main_help">Предуприждение! Во время установки Ваш антивирус может заблокировать установщик, подумав, что он вирус. В таком случае разрешите ему устанавливать приложение.</p>
    <br>
    <p class="main_help">1) Скачайте инсталлер (файл setup.exe).</p>
    <p class="main_help">2) Скачайте Python версии 3.8 <a href="https://www.python.org/ftp/python/3.8.0/python-3.8.0-amd64-webinstall.exe">с официального сайта</a>.</p>
    <p class="main_help">3) Запустите файл setup.exe, установите все файлы.</p>
    <p class="main_help">4) Запустите лаунчер. Далее подождите немного, появиться окно лаунчера и скачаеться pip (появиться окно консоли и уведомление, когда оно закроеться - переходите в следуюий пункт)</p>
    <p class="main_help">5) Нажмите на кнопку "START", что бы закрыть ассистента - на кнопку STOP. Не обращайте внимание на консоль ассистента, это надо для бетатестирования.</p>
</section>
{% endblock %}