{% extends 'base.html' %}

{% block title %}
Ваш личный помощник|Tuicape assistant
{% endblock %}

{% block body %}
    <div class="container">
        <section class="slider">
            <div class="slider_text">
                <h1 class="slider_title">Встречайте Tuicape</h1>
                <p class="slider_content">
                    Личный помощник, который всегда под рукой- дома, в&nbsp;школе, на&nbsp;прогулке.<br>
                    Не&nbsp;даст заскучать, где&nbsp;бы Вы&nbsp;не&nbsp;были.
                </p>
                <br><br>
            </div>

        </section>
    </div>
{% endblock %}